body {
  background-color: hsl(171, 61%, 94%);
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

.nav-header{
  border: solid 1px;
  background-color: hsl(171, 84%, 85%);
  color: hsl(171, 91%, 78%);
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.nav-container {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  text-decoration: none;
}


button {
  width: 80px;
  padding: 8px;
  font-weight: bold;

  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  outline: none;

}

button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

a,
a:visited {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

a:hover {
  color: hsl(189, 62%, 49%);
  text-decoration: none;
  font-weight: bold;
}

.active-link {
  border-bottom: 2px solid;
  border-radius: 2px;
  padding: 2px;
  color: hsl(171, 39%, 60%);
}